---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---

<div class="hero-background">
  <div class="hero-text">
    <h1>Effortless Goal Tracking and Reporting for Speech-Language Pathologists</h1>
    <p>Tracker lets you effortlessly <strong>track your client goals</strong> in real-time from your computer, phone, or tablet and then generate <strong>beautiful reports</strong> in seconds. No more spreadsheets! Get your time back!</p>
    <a type="button" data-sv-toggle="41931e61fb" href="https://pages.convertkit.com/41931e61fb/a070092368">Learn More</a>
  </div>
</div>

<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon">
      <i class="material-icons">assignment_turned_in</i>
    </div>
    <div class="bullet-content">
      <h2>No More Double Entry</h2>
      <p>Real-time, one-tap goal tracking lets you log your client's goal during therapy right on your phone, tablet, or computer. No slips of paper to lose. No more re-entry into spreadsheets or reporting systems.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon">
      <i class="material-icons">insert_chart</i>
    </div>
    <div class="bullet-content">
      <h2>Stop Using Spreadsheets</h2>
      <p>Easy report generation and data exporting in seconds versus hours of manual compilation.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon">
      <i class="material-icons">attach_money</i>
    </div>
    <div class="bullet-content">
      <h2>More Clients. More Money.</h2>
      <p>The average Tracker user saves 2 hours per week and 14 hours per quarter. That's time you can spend working with clients, which is what you became a Speech-Pathologist to do in the first place.</p>
    </div>
  </li> 
</ul>

<article>
  <h1>You didn't start your practice to do HOURS of paperwork!</h1>

  <p>
    You started your own practice (or joined another practice) so you could enjoy more freedom - and earn more money - while helping more people. Instead, you wound up dealing with mountains of paperwork.
  </p>

  <h2><em>This is not what you signed up for!</em></h2>
  
  More paperwork equals:
  
  <ul>
    <li>less freedom</li>
    <li>less free time</li>
    <li>fewer clients and fewer people helped.</li>
  </ul>

  <h1>Rediscover your love for your work.</h1>

</article>

<script async data-uid="41931e61fb" src="https://f.convertkit.com/41931e61fb/a070092368.js"></script>
