<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      {%- asset bnl-logo-bw.svg -%}
      <span class="text">tracker</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Features</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Pricing</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <button class='sign-in'>Sign In</button>
      <a class='sign-up' type="button" data-sv-toggle="41931e61fb" href="https://pages.convertkit.com/41931e61fb/a070092368">Try It Free</a>
    </div>
  </div>
</header>

 <script>
$(window).resize(function() {
  var more = document.getElementById("js-navigation-more");
  if ($(more).length > 0) {
    var windowWidth = $(window).width();
    var moreLeftSideToPageLeftSide = $(more).offset().left;
    var moreLeftSideToPageRightSide = windowWidth - moreLeftSideToPageLeftSide;

    if (moreLeftSideToPageRightSide < 330) {
      $("#js-navigation-more .submenu .submenu").removeClass("fly-out-right");
      $("#js-navigation-more .submenu .submenu").addClass("fly-out-left");
    }

    if (moreLeftSideToPageRightSide > 330) {
      $("#js-navigation-more .submenu .submenu").removeClass("fly-out-left");
      $("#js-navigation-more .submenu .submenu").addClass("fly-out-right");
    }
  }
});

$(document).ready(function() {
  var menuToggle = $("#js-mobile-menu").unbind();
  $("#js-navigation-menu").removeClass("show");

  menuToggle.on("click", function(e) {
    e.preventDefault();
    $("#js-navigation-menu").slideToggle(function(){
      if($("#js-navigation-menu").is(":hidden")) {
        $("#js-navigation-menu").removeAttr("style");
      }
    });
  });
});
 </script>
