.hero-background {
  $base-border-radius: 3px !default;
  $action-color: $orange;
  $large-screen: (
    media: "screen and (min-width: 53.75em)"
  );
  $hero-padding-vertical: 5em;
  $hero-padding-horizontal: 0.4em;
  $hero-screen-width: 14em;
  $hero-screen-height: 25em;
  $hero-background: darken(gray, 40%);
  $hero-backside-background: darken($hero-background, 10%);
  $hero-text-color: white;
  $hero-background-top: #162C4C;
  $hero-background-bottom: #0A120D;
  $gradient-angle: 10deg;
  $hero-image: "images/purple-metal.jpeg";
  $hero-screen-image: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/cosmin_capitanu_screen.jpg";

  background: url($hero-image),
              linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top),
              no-repeat $hero-background-top scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
  text-align: center;
  width: 100%;

  .hero-text {
    padding: 2em;
    margin: auto;

    @include grid-media($large-screen) {
      max-width: 70%;
      padding: 7em;
    }

    h1 {
      border-bottom: 1px solid transparentize($hero-text-color, 0.7);
      color: $hero-text-color;
      font-size: 3em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      color: $hero-text-color;
      line-height: 2em;
      margin-bottom: 2em;

      strong {
        font-size: 1.1em;
        font-weight: 800;
      }
    }
  }
}
