.bullets {
  $base-line-height: 1.5em !default;
  $action-color: $light-grape;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;
  $narrow-screen: (
    media: "screen and (max-width: 53.75em)"
  );

  @include grid-container;

  .bullet {
    @include grid-column(4);

    @include grid-media($narrow-screen) {
      @include grid-column(12);
    }
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    height: $icon-bullet-size;
    margin: 0 auto 1em auto;
    padding: $icon-bullet-size / 5;
    width: $icon-bullet-size;

    i {
      color: white;
      font-size: 2em;
      margin: auto;
    }
  }

  .bullet-content {
    text-align: center;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    text-align: left;
  }

  img {
    max-width: 100%;
  }
}
