.hero-background
  margin-bottom: 8em

.bullets
  margin: 0 auto 8em auto
  @include grid-container
  max-width: 80%

article
  margin: auto
  max-width: 60%

  p
    margin-bottom: 2em

  h1
    font-size: 2em
    font-weight: 400

  h2
    text-align: center
    margin-bottom: 2em

  ul
    list-style-type: disc
    margin: 0 2em 3em 2em
